
@font-face {
    font-family:"Raleway Bold";
    src:url("Raleway-Bold.woff2") format("woff2"),url("Raleway-Bold.woff") format("woff"),url("Raleway-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        