
@font-face {
    font-family:"Raleway";
    src:url("Raleway-Regular.woff2") format("woff2"),url("Raleway-Regular.woff") format("woff"),url("Raleway-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        