* {
    // transition: all 0.1s ease-in-out;
}

hr {
    border-color: $primary;
    width: 40px;
    border-width: 2px;
    margin:10px 0;
}

h1 {
    font-family: $rway-b;
    font-size: 56px;
    color: $white;
    letter-spacing: 0;
    line-height: 60px;
}

h2 {
    font-family: $rway-sb;
    font-size: 47px;
    color: $black;
    letter-spacing: 0;
    line-height: 62px;
    &.-white{
        color: $white;
    }
}

h3 {
    font-family: $rway-b;
    font-size: 30px;
    color: $black;
    letter-spacing: 0;
    line-height: 42px;
}

h4 {
    font-family: $rway-b;
    font-size: 24px;
    color: $black;
    letter-spacing: 0;
    line-height: 33px;
}

h5 {
    font-family: $rway-b;
    font-size: 17px;
    color: $black;
    letter-spacing: 0;
    line-height: 24px;
}

h6 {
    font-family: $rway-b;
    font-size: 15px;
    color: $black;
    letter-spacing: 0;
    line-height: 22px;
}


.subheader {
    font-family: $rway;
    font-size: 16px;
    color: $black;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 30px;
}

h1,h2,h3,h4,h5,h6{
    margin:0;
}

p {
opacity: 0.7;
font-family: $rway;
font-size: 14px;
color: $black;
letter-spacing: 0;
line-height: 22px;
}

h2, h6, h3{
    &.-white{
        color: $white;
    }
}

section {
    padding: 50px 0;
}

a {
    &:hover,
    &:focus {
        color: $primary;
    }
}

input,
textarea {
    font-family: $rway;
    font-size: 16px !important;
    line-height: 2;
    padding:20px 10px !important;
    text-align: left;
    color: $black;
    border: 1px solid #E3E9EE !important;
    border-radius:0 !important;
}

input::placeholder,
textarea::placeholder{
    opacity:0.3;
}

input[type="submit"]{
    padding:0 20px !important;
}





