.panel-menu{
	padding-left: 0;
	list-style: none;
	>.panel-items{
		margin: 20px 0;
		a{
			padding-bottom: 4px;
			font-family: $rway;
			font-size: 17px;
			font-weight: bold;
			line-height: 1.41;
			text-align: left;
			color: $black;
			opacity: 0.6;
			&.active{
				border-bottom: 2px solid $primary;
				opacity: 1;
			}
			&:hover,&:focus{
				text-decoration: none;
				opacity: 1;
			}
			&:active{
				position: relative;
				top: 1px;
			}
		}
	}
}